body {
    background-image: url(background.jpg);
    text-align: center;
}

canvas {
    display:inline-block;
    border: 8px solid white;
    box-sizing: inherit;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

.jparty-button {
    font-size: 50px;
    border: 4px solid black;
    border-radius: 4px;
    color: black;
    background-color: white;
    padding: 2px 10px;
    font-family: Anton;
    font-size: 50px;
    text-align: center;
    touch-action: manipulation;
}

.canvas-buttons {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 33% 33% 33%;
}

.canvas-button {
    font-size: 20px;
}

.submit-button {
  grid-column-start: 1;
  grid-column-end: 4;
}

button:active {
    background-color: #a6a6a6;
}

#buzzers {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 24px;
  text-align: center;
}

#buzzers option[value="red"] {
  background-color: red;
}

#buzzers option[value="green"] {
  background-color: green;
}

#buzzers option[value="blue"] {
  background-color: blue;
}

#buzzers option[value="yellow"] {
  background-color: yellow;
}

#buzzers .phone-only {
  background-color: white;
}

#buzzers:has(> option[value="red"]:checked) {
  background-color: red;
}

#buzzers:has(> option[value="green"]:checked) {
  background-color: green;
}

#buzzers:has(> option[value="blue"]:checked) {
  background-color: blue;
}

#buzzers:has(> option[value="yellow"]:checked) {
  background-color: yellow;
}


#buzzer {
    display: block;
    width: 100%;
    height: 330px;
    padding: 14px 28px;
}

#buzzer:active {
    background-color: #a6a6a6;
}
#buzzer:disabled {
    background-color: #a6a6a6;
}

.footer {
    text-align: center;
    font-family: font72778;
    font-style: bold;
    color: white;
    border-top: 5px solid white;
    background-color: #031591;
}

.text_input {
    top:100px;
    display: block;
    width: 100%;
    padding: 14px 28px;
    margin-bottom: 12px;
    text-align: center;
}

.buzz-page {
    display: None;
}
.name-page {
    display: None;
}
.wager-page {
    display: None;
}

.wager_input {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='48px' width='85px'><text x='15' y='35' fill='gray' font-size='30' font-family='arial'>$</text></svg>");
    padding: 12px;
    background-repeat: no-repeat;
}
.answer-page {
    display: None;
}
.prompt {
    color: white;
    text-align: center;
    font-family: Anton;
    font-size: 20pt;
    top: 50px;
    margin:20px;
}

.answer_input {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='48px' width='60'><text x='15' y='35' fill='gray' font-size='30' font-family='arial'>?</text></svg>");
    padding-left: 12px;
    background-repeat: no-repeat;
    background-position: right;
}

.hints {
    font-family: Helvetica;
    text-align:center;
    color:white;
}
.buzz-hint {
    margin-top:10pt;
}
.name-hint {
    margin-bottom:10pt;
}
